/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

main {
  max-width: 1380px;
  margin: 0 auto;
}


/* Menu */
.container-menu {
  display: flex;
  justify-content: space-between;
  max-width: 1380px;
  margin: 0 auto;
  margin-top: 10px;
}

.container-menu .menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-menu .menu-logo img {
  max-width: 50px;
  margin-right: 25px;
}

.container-menu .menu-logo p {
  font-weight: 500;
  font-size: 24px;
}

.container-menu .menu {
  display: flex;
  justify-content: center;
}

.container-menu .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 30vw;
}

.container-menu .menu ul a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  padding: 5px;
}

.container-menu .menu ul a:hover {
  color: #2196F3 !important;
  border-bottom: 4px solid #2196F3 !important;
}

.container-menu .menu-user {
  display: flex;
  width: 20vw;
  justify-content: space-around;
  align-items: center;
}

.container-menu .menu-user ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 60%;
}

.container-menu .menu-user ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #302f2f;
}

.container-menu .menu-user ul .menu-register-btn {
  background-color: #2196F3;
  color: #fff;
  text-align: center;
  padding: 8px 20px;
  border-radius: 5px;
}

/* Hero banner */
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.hero-container .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  color: rgba(0, 0, 0, 0.87);
}

.hero-container .hero-text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.hero-container .hero-text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.hero-container .hero-text a {
  border: 1px solid #00bcd4;
  width: 150px;
  display: flex;
  justify-content: space-around;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #00BCD4;
  font-weight: 500;
  font-size: 16px;
}

.hero-container .hero-img img{
  width: 691px;
  height: 416px;
}

/* info container */

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px; 
  color: rgba(0, 0, 0, 0.87);
}

.info-container .info-item {
  cursor: pointer;
  transition: 0.3s ease;
}

.info-container .info-item h2 {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 10px;
}

.info-container .info-item p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}

.info-container .info-item:hover h2 {
  color: #2196F3 !important;
}

.info-container .info-item:hover {
  border-bottom: 6px solid #2196f3;
  border-bottom-width: 6px
}

.info-container hr {
  height: 50px;
}

/* About us */
.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.about-us-container .about-us-img img {
  width: 654px;
  height: 654px;
}

.about-us-container .about-us-text {
  width: 600px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.87);
}

.about-us-container .about-us-text h3 {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 15px;
}

.about-us-container .about-us-text p {
  font-weight: 400;
  font-size: 18px;
}

.about-us-container .about-us-text .about-us-achievement {
  display: flex;
  justify-content: space-around;
}

.about-us-container .about-us-text .about-us-achievement .about-us-achievement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-container .about-us-text .about-us-achievement h4 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.about-us-container .about-us-text .about-us-achievement hr {
  width: 60px;
  height: 10px;
  border: none;
  border-radius: 10px;
  background-color: #00bcd4;
}

.about-us-container .about-us-text .about-us-achievement p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
}

/* Case studies */
.case-studies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.case-studies-container .case-studies-menu h4 {
  font-weight: 700;
  font-size: 52px;
  color: rgba(13, 71, 161, 1);
  margin-bottom: 24px;
}

.case-studies-container .case-studies-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;

}

.case-studies-container .case-studies-menu ul a {
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 24px;
  padding: 8px;
  width: 100%;
}

.case-studies-active-menu {
  background-color: rgba(187, 222, 251, 1);
  color: rgba(13, 71, 161, 1) !important;
  border-radius: 10px;
  cursor: pointer;
}

.case-studies-container .case-studies-itens {
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  height: 600px;
  
}

.case-studies-container .case-studies-item {
  border-radius: 5px;
  width: 480px;
  height: 280px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.case-studies-container .case-studies-item h5 {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.case-studies-container .case-studies-item p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}


#case-studies-corporate {
  background-image: url('./img/corporate.jpeg');
  background-size: cover;
}

#case-studies-advertising {
  background-image: url('./img/advertising.jpeg');
  background-size: cover;
}

#case-studies-marketing {
  background-image: url('./img/marketing.jpeg');
  background-size: cover;
}

#case-studies-government {
  background-image: url('./img/government.jpeg');
  background-size: cover;
}



/* Auxiliares */
.desactive-item-studies {
  display: none !important;
}

.active-item-studies {
  display: flex;
  width: 100% !important;
  height: 100% !important;
  justify-content: center !important;
  align-items: center !important;
}


/* our values */
.our-values-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.our-values-container .our-values-text {
  width: 500px;
}

.our-values-container .our-values-first-text h4 {
  font-weight: 500;
  font-size: 28px;
}

.our-values-container .our-values-first-text p {
  font-weight: 400;
  font-size: 18px;
}

.our-values-container .our-values-first-line {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.our-values-container .our-values-first-line h5 {
  font-weight: 500;
  font-size: 28px;
}

.our-values-container .our-values-first-line p {
  font-weight: 400;
  font-size: 16px;
}